*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}
nav{
  position:sticky;
  top:0;
  width:100%;
  height:10vh;
  background-color:pink;
  display:flex;
  justify-content:space-around;
  align-items: center;
  border-bottom: 3px solid #241469;
  z-index: 10;

}
nav ul{
  display: flex;
  width: 50%;
  justify-content:space-around;
  list-style: none;
}
nav a{
  color: black;
  text-decoration:none;
}
nav a:hover{
  border: 2px solid #241469;
  border-radius:8px;
  padding: 5px 20px;
  color: #241469;
}
.hero{
  width: 100%;
  height:90vh;
  background-position: center;
  background-image: url("fashion-1063100_1920.jpg");
  background-size:cover;
  color: white;
  display:flex;
  align-items: center;
 }
.hero-text{
  width:41%;
  padding-left:50px;
  text-shadow: 1px 2px 10px white;
}
.hero-text a{
  text-align:center;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 1.3rem;
}
   .hero-text a:hover{
  background-color: #241469;
    border: 2px solid #241469;
}
.info-bar{
  width: 100%;
  height:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.info-bar a{
  text-decoration: none;
}
.box{
  height:500px;
  width:400px;
  margin:20px;
  box-shadow:-10px 10px 10px #888;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display:flex;
  justify-content:center;
  align-items:flex-end;
  text-decoration:none;
  color: #241469;
}
.box:hover{
  justify-content:center;
  align-items:center;
  background: white;
}
.jumsuit{
background-image: url("jumsuit.jpg");
}
.longjacket{
  background-image: url(longjacket.jpg);
}
.saree{
  background-image: url(saree.jpg);
}
.suit{
  background-image: url(suit.jpg);
}
.sweaters{
  background-image: url(sweaters.jpg);
}
.whitegown{
 background-image: url(whitegown.jpg);
}
#text{
  font-size: 2.5rem;
  background: linear-gradient(to top,rgba(255, 255, 255, 0.9) 50%,
  rgba(255, 255, 255, 0.5));
  width: 100%;
  text-align: center;

}
.outter{
  height: auto;
  width:100%;
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.inner-image{
  flex:1 1 30rem;
  min-height:60vh;
  width:50%;
  background:red;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.inner-text{
  flex:1 1 30rem;
  min-height: 60vh;
  background: #f2dac2;
  width: 50%;
  padding: 30px;
}
.inner-text h1{
text-align: center;
font-size: 2.8rem;
}
.inner-text p{
  margin-top: 3rem;
  font-size:1.8rem;
  color:#241469;
}

.jumsuit2{
  background-image: url("jumsuit2.jpg");
}
.longjacket2{
  background-image: url("newjacket.jpg");
}
.saree2{
  background-image: url("newsaree.png");
}
.suit2{
  background-image: url("suit2.jpeg");
}
.sweaters2{
  background-image: url("sweaters2.jpg");
}
.gown2{
  background-image: url("gown2.jpg");
}
.about-section{
  width:100%;
  min-height:70vh;
  background-image: url("aboutimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  align-items: center;
  display: flex;
  justify-content: center;
}
.about-text{
  width:60vw;
  height:80vh;
  background:#fefefeba;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.about-text p{
  margin-top: 25px;
  font-size:1.8rem;
  color:#241469;
}
.contact-me{
  width:100%;
  min-height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  background-color:#c1c1c1;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}

#input{
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  min-height: 30px;
  text-align: center;
  box-shadow: None;
  border: 2px solid pink;
  padding: 10px;

}
#submit-button{
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  min-height: 30px;
  text-align: center;
  box-shadow: None;
  border: none;
  padding: 10px;
  background-color: #241469;
  color: #fff;
}
#submit-button:hover{
  color:#241469;
  font-size: 1.2rem;
  background-color: pink;
}

footer{
  padding: 20px;
  background: #241469;
  color: white;
  font-weight: bolder;
  font-size: 23px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media screen and (max-width:768px) {
  html{
    font-size: 60%;
  }
  nav{
    position: sticky;
    top:0;
    flex-direction: column;
    justify-content:center;
    align-content: space-around;

  }
  nav ul{
    width: 70%;
    margin-top: 10px;
  }
  .hero-text{
    width:50%;
    padding-left:45px;
    text-shadow: 1px 2px 10px white;
  }
  .info-bar{
    flex-direction: column;
    justify-content:center;
    align-content:space-around;
    }

  .box{
    height:400px;
    width:100vw;
    margin-top: 30px;
  }
  .saree2{
    background-image: url("sareemv.jpg");
  }
  .suit2{
    background-image: url("suitmv.jpeg");
  }
  form{
    width: 100%;
    padding: 20px;
    border-radius: 0px;

  }
  .about-text{
    width:100vw;
    height:auto;
  }
}
